flask
werkzeug
python-dotenv
google-generativeai
google-ai-generativelanguage
google-api-core
google-auth
grpcio
grpcio-status
huggingface-hub
torch
torchaudio
transformers
openai-whisper
TTS
numpy
scipy
pandas
matplotlib
moviepy
imageio
imageio-ffmpeg
tqdm
pydub
librosa
soundfile
scikit-learn
scikit-image
pillow
regex
pytz
tzdata
tzlocal
requests
urllib3
Cython
joblib
typing-extensions
dataclasses
