flask
werkzeug
gunicorn
python-dotenv
google-generativeai
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

ffmpeg-python
pydub
numpy
scipy
moviepy
requests
tqdm

